body{
    font-family: 'Times New Roman', Times, serif;
    background-color: rgba(0, 0, 0, 0.544);

}
h1{
    text-align: center;
    color: white;
    font-family: sans-serif;
}

div {
    text-align: center;
}
h2{
    text-align: center;
    color: white;
    font-family: sans-serif;
}
voltar{
    text-align: center;
}